.Container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 10px;
  object-fit: cover;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.CountryCard {
  padding: 20px;
}

.Container img {
  width: 100px; /* Fixed width for images */
  height: 60px; /* Fixed height for images */
  margin-bottom: 10px; /* Space between image and text */
}
